/* 
    Created on : 20/06/2017, 17:02:49
    Author     : juliano.rocha
*/
.filtro {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-background-image: url("../img/localizar.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 11;
    -fx-background-position: right 10 center;
    -fx-padding: 4 22 4 11;
}

